<h1 class="h1"> Price Data </h1>

<div class="gridc_itemsByGroup">

  <div>test: {{test}}</div>
  <div class="itemsByCategory items">
    <ul *ngFor="let c of categories" [class.selected]="c === selectedCategory" (click)="onSelectCategory(c)">
      <li>
        {{c.name}}
      </li>
    </ul>

  </div>

  <div class="itemsByGroup items">
    <ul *ngFor="let c of groups" [class.selected]="c === selectedGroup" (click)="onSelectGroup(c)">
      <li>
        {{c.name}}
      </li>
    </ul>

  </div>
  <div class="itemsByType items">
    <ul *ngFor="let t of types" [class.selected]="t === selectedType" (click)="onSelectType(t)">
      <li>
        {{t.name}}
      </li>
    </ul>
  </div>

  <div class="itemsByPrice">
    <table class="itemtable">
      <tr>
        <th>Img</th>
        <th>type</th>
        <th class="makeroom">  </th>
        <th>bom</th>

        <th class="price">Jita price </th>
        <th class="price">Amarr price</th>
        <th class="price">Dodixie price</th>
        <th class="price">Rens price</th>
        <th class="price">Hek price </th>
        <th class="price">Action</th>
        <!--<th class="price">Alerts</th>-->
        <!--
                                <td class="price">Tash-Murkon price </td>
                                <td class="price">Oursulaert price </td>
        -->

      </tr>
      <tr  *ngFor="let it of tradeItemPriceList" [class.itemselected]="it === selectedItem" (click)="onRemoveItem(it)">

        <td class="image"> <img src = "https://imageserver.eveonline.com/Type/{{it.item.type_id}}_32.png" class="image">  </td>
        <td> {{ it.item.name }} </td>
        <td class="makeroom">  </td>
        <td class="bomtext" alt="bom"> <img src="assets/images/bom.png" alt="bom"> </td>

        <td class="price">{{it.jitaPrice | mPipe}} </td>
        <td class="price">{{it.amarrPrice | mPipe}} </td>
        <td class="price">{{it.dodixiePrice | mPipe}} </td>
        <td class="price">{{it.rensPrice | mPipe}} </td>
        <td class="price">{{it.hekPrice | mPipe}} </td>
        <td class="price"><button id="remove" class="btn">Remove</button></td>
        <!--<td>{{it.item.graphic_id}}</td>-->
        <!--<td class="price"><button id="addAlert" class="btn">Add Alert</button></td>-->

        <!--   <td class="price">{{it.Tashprice | moneyPipe}} </td>
           <td class="price">{{it.Ourprice | moneyPipe}} </td>-->
      </tr>
    </table>
  </div>
</div>
