

.selected {
  background-color: black !important;
  color: red;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  font-family: Tahoma;
  font-size: 14;
  max-height: 800px;
  overflow: auto;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: transparent;
  height: 1.6em;
  border-radius: 4px;
}

.items li.selected:hover {
  background-color: #396763 !important;
  color: #c0c9c7;
}
.items li:hover {
  color: #f0f9c7;
  background-color: #396763;
}
.items .text {
  position: relative;

}



.itemtable {
  background-color: #1f2f2f;
  margin: 0 0 1em 0;
  color: #a8af87;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 10;

}

.image {
  background: black;

}

.itemtable tr {

  color: #c0c9c7;
  font-size: small;


}
.itemtable tr th{
  min-width: 3em;
}
.itemtable tr td{
  padding: .2em;
  max-height: 2em;
  font-size: small;
}
.input{
  background-color: #1f2f2f;
  color: #a8af87;
}
.itemtable tr.selected:hover {
  background-color: #1f2f2f !important;
  color: #c0c9c7;
  cursor: pointer;
}

.itemtable tr:hover {
  color: #c0c9c7;
  background-color: #396763;
  left: .1em;
}

.horizontal li {
  display: inline-block;
  zoom: 1;
  *display: inline; /* this fix is needed for IE7- */
}
.bomtext{
  margin-left: 5px;
  color: #a8af87;
}
.bomtext a{
  margin-left: 8px;
  color: #a8af87;
}
.alerttext {
  color: #BD0913
}
