

.selected {
  background-color: black !important;
  color: red;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  font-family: Tahoma;
  font-size: 14;
  max-height: 800px;
  overflow: auto;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: transparent;
  height: 1.6em;
  border-radius: 4px;
}

.items li.selected:hover {
  background-color: #396763 !important;
  color: #c0c9c7;
}
.items li:hover {
  color: #f0f9c7;
  background-color: #396763;
}
.items .text {
  position: relative;

}
