<h1 class="h1"> Price Data </h1>

<div class="gridc_itemsByGroup">

  <div>test: {{test}}</div>
  <div class="itemsByCategory items">
    <ul *ngFor="let c of categories" [class.selected]="c === selectedCategory" (click)="onSelectCategory(c)">
      <li>
        {{c.name}}
      </li>
    </ul>

  </div>

  <div class="itemsByGroup items">
    <ul *ngFor="let c of groups" [class.selected]="c === selectedGroup" (click)="onSelectGroup(c)">
      <li>
        {{c.name}}
      </li>
    </ul>

  </div>
  <div class="itemsByType itesm">
    <ul *ngFor="let t of types" [class.selected]="t === selectedType" (click)="onSelectType(t)">
      <li>
        {{t.name}}
      </li>
    </ul>
  </div>
</div>
